<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/payroll_db</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">121205</property>
        <property name="hibernate.hbm2ddl.auto=update">create</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Schema / show SQL -->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- update / validate / create-drop -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- JDBC batch (optional better perf) -->
        <property name="hibernate.jdbc.batch_size">20</property>

        <!-- Entities -->
        <mapping class="com.example.model.Employee"/>
        <mapping class="com.example.model.Payroll"/>

    </session-factory>
</hibernate-configuration>
